{% extends 'baabtra/baabtrahome.html' %}

{% load static %}

{% block content %}
<div style="color:white;">

<b>LEARN FROM PROFESSIONALS</b><br>
<b  style=" font-size: xxx-large;">Taught by industry<br> experts</b>
<p>Baabtra, the best software training company in Calicut has proved<br> its expertise by training and placing several hundreds of students<br> both in MNC’s like UST Global, Infosys, Oracle etc and SME’s like<br> Nucore Software Solutions, Sesame, IOSS, ULTS and many other<br> companies mainly in Kozhikode, Cochin, Trivandrum and Bangalore.

</p>
<input type="button" value="join now"></a>
</div>
<div style="height:900px ;background-color:rgb(27, 27, 72);color: white; ">
    <h1 align="center">Training Process</h1>
    <hr width="3%" color="red"/>
    <h4 align="center">A DIGIT THAT COMMUNICATES MORE THAN PAGES OF CV A PROGRESS REPORT GENERATED THROUGH AN ONLINE<br> TEST ON THE IT SKILLS OF THE CANDIDATE. BAABTRA RATING EQUIPS CANDIDATE TO PRESENT THEIR WORTH IN<br> PROGRAMMING SKILLS AND AVOIDS EMPLOYERS THE TASK OF READING THROUGH PAGES OF CV AND, IN SOME <br>CASES, BEING MISLED BY THE CVS.</h4>
    

</div>

{%  endblock  %}