<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script>
        var marks = [10,20,30,40,'hello']
        // console.log(marks.length)
        // marks.push(5)
        // marks.pop()
        // marks.shift()
        // marks.unshift(30)
        // console.log(marks.indexOf(30))
        // console.log('lastIndexOf' + marks.lastIndexOf(5))

        // var slicedArray = marks.slice(0,4)
        // console.log('sliced array is' + slicedArray)


         
        // for(var i=0; i<marks.length;i++){
        //     console.log(marks[i])}
        

        
        //  for(var i of marks){
        //     console.log(i)
        //  }
        marks.splice(2,0,'22')
    </script>
    
</body>
</html>