{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="{% static 'css/newselo.css' %}"> -->
    <style>
        #no{
            border: 3px black solid;
            padding: 20px 50px 100px ;
            margin: 50px 20px 70px 100px;
            margin-left: 200px;
            margin-right: 150px;
            margin-top: 200px;
            margin-bottom: 100px;

        }
    </style>
</head>
<body>
   <div id="no">
    
   
   <h1>heloooo</h1>
   <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia, provident.</p>
   <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus exercitationem distinctio sed, nulla, neque vitae quaerat odit incidunt  </p>
</div>
   
</body>
</html>