<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- <h1 id="h1">heloooo</h1>
    <button onclick="tag()">click</button> -->
    <!-- <h1 id="heading">helooo</h1> -->
    <!-- <label for="">first number</label>
    <input type="number"><br>
    <label for="">second number</label>
    <input type="number">
    <button onclick="addition()">ADD</button>
    <script>
        var num1 = Number(prompt('enter a number'))
        var num2 = Number(prompt('enter second number'))

        function add()
        var add = (num1+num2) -->
        
        <!-- // function tag(){
            
        //     document.getElementById('h1').style.color = 'red'
        //     document.getElementById('h1').style.backgroundColor = 'green'
        // }

        //  document.getElementById('heading').innerHTML = 'hyyyy'
        // document.getElementById('heading').style.color = 'red'
        // document.getElementById('heading') -->
        
    </script>
</body>
</html>