<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 id="heading">helooo</h1>
    <!-- <button onclick="alert('hello')">click</button> -->
    <script>
        document.getElementById('heading').innerHTML = 'hyyyy'
        document.getElementById('heading').style.color = 'red'
        document.getElementById('heading')
        // document.write('<h1>hhyyyy</h1>')
        // name = 'archie'
        // document.write(name)
        // console.log(name)
        // console.log(typeof(name))
        // num1=10.5
        // console.log(num1)
        // console.log(typeof(num1))
         
        // alert('adhiya')
        // name = prompt('enter your name')
        // document.write('goodmorning '+name)
        // confirm('are you sure u want to exit')
        // num1 = parseInt(prompt('enter number one')) 
        // num2 = Number(prompt('enter number second'))
        // console.log(typeof(num1))
        // sum=num1+num2

        // document.write(' <h1> ', num1, '+', num2, '=', sum, '</h1>')
        // document.write('hyyyy <br>')
        // document.write('hyyyy')
        // document.write('hyyyy')
        // had = false
        // console.log(typeof(had))
        // console.log(had)


        // name = 'strings'
        // console.log(name)
        // console.log(name[3])
        // console.log(name.length)


        // numbers = [90,30,45]
        // console.log(numbers)
        // console.log(numbers[1])

        // name = prompt('enter your name')
        // place = prompt('enter the place')
        // age = Number(prompt('enter your age'))
        // document.write('your name is ' +name, '<br>')
        // document.write('place is  ' +place, '<br>')
        // document.write('your age is  ' +age, '<br>')
        // age1 = 100-age
        // document.write('you need '+ age1," more year to celebrate 100'th birthday")
         
        // details = { 
        //     'name': 'geethika',
        //     'age': 10,
        //     'place': 'calicut',
        //     'skills':['css','html','php'],
        //     1:'hyyyy',
        //     'name': 'hadi'

        // }
        // console.log(details)
        // console.log(details['name'])
        // console.log(details['skills'])
        // console.log(details['skills'][0])
        // console.log(details[1])

        // if(6>11){
        //     console.log('greatest is 15')
            
        // }
        // else{
        //     console.log('greatest is 11')
        // }
        // num1 = Number(prompt('enter a number'))
        // num2 = Number(prompt('enter second number'))
        // if(num1>num2){
        //     alert(num1+ 'is greater')
        // }
        // else{
        //     alert(num2+ 'is greater')
        // }

        // num1 = Number(prompt('enter a number'))
        // if (num1%2==0){
        //     alert(num1 + 'is even')

        // }
        // else{
        //     alert(num1 + 'is odd')
        // }


        // mark = Number(prompt('enter the mark of student'))
        // if(mark>90){
        //     alert('excellent')

        // }
        // else if(mark>=70) {
        //     alert('good')
        // }
        // else if( mark>=50){
        //     alert('average')

        // }
        // else if(mark>=40){
        //     alert('pass')


        // }
        // else{
        //     alert('failed')
        // }
        


        // num1 = Number(prompt('enter a number'))
        // num2 = Number(prompt('enter a number'))
        // num3 = Number(prompt('enter a number'))

        // if(num1>num2){
        //     if(num1>num3){
        //         alert(num1+ '  is greater')

        //     } 
        //     else{
        //         alert(num3 +'  is greater')
        //     }  
           
        // }
        // else if(num2>num3) {
        //     alert(num2 +'  is greater')
        // }
        // else{
        //     alert(num3+ '  is greater')
        // } 
        
        
        
    // grade = prompt('enter a grade')

    // switch(grade.toUpperCase()){
    //     case 'A':
    //         alert('good')
    //         break
    //     case 'B':
    //         alert('average')  
    //         break
    //     case 'C':
    //         alert('pass') 
    //         break
    //     case 'D':
    //         alert('failed')
    //         break 
    //     default:console.log('invalid input')        
    // }


        // for(i=0; i<=20; i++){
        //     // console.log('heloo')
        //     if(i%2==0)
        //     document.write(i,'<br>')
        // }
        
        

        // for(i=0; i<6; i++){
        //     for(j=0; j<i+1; j++){
        //         document.write('* ')
        //     }
        //     document.write('<br>')
        // }


        // for(i=0; i<=5; i++){
        //     for(j=5; j>=i; j--){
        //         document.write('*')
        //     }
        //     document.write('<br>')
        // }

        // for(i=0; i<=5; i++){
        //     for(j=0; j<i+1; j++){
        //         document.write(i,i++)
        //     }
        //      document.write('<br>')
        //  }
        
        
        //var i = 0;
        // while(i<=10){

        //     console.log(i)
        //     i++

        // }
         

        // var i = 0 
        // while(i<=10){
        //     console.log(i)
        //     i++;
            
        // }


        //  var result = 2000
        //  function add(){

        //   let result = 1000 
        //   console.log(result)

          
        //  }
        //  add()
        //  console.log(result)


        // function addition(a,b){
        //     var result = a+b
        //     console.log(result)
        // }
        //  addition(10,20)
        //  addition(39,40)

        // var result = 2000
        //   function add(){

        //   let result = 1000 
        //   console.log(result)

          
        //  }
        //   add()
        //   console.log(result)

        //   var a = Number(prompt('enter a number'))
        //   var b = Number(prompt('enter a number'))
        //   function add(a,b){
        //     var result = a+b
        //     console.log(result)


        //   }
        //   add(a,b)
         
         
         



    


    
    



      
        





        

</script> 
</body>
</html>