{% extends 'baabtra/baabtrahome.html' %}

{% load static %}

{% block content %}
<div  style="height:400px ;background-color: rgb(34, 42, 79);">
    <center>
    <b style="color: white; font-size: xxx-large;">Placements</b>
    <h5 style="color: white;">HOME / PLACEMENTS</h5>
    </center>
    
</div>
<center>
<h5 style="color: red;">THE INDUSTRIAL BEST</h5>
<b style="color: black; font-size: xxx-large;">Placement Service</b>
<hr  width="3%" color="red"/>
<p style="color: black;">Baabtra has helped 1000+ freshers in Kerala to start their career as a software developer/programmer both in MNC’s like Oracle, UST Global, Infosys,<br> Cognizant etc and SME’s through our training/internship programs. Baabtra work as recruitment partner for many IT Companies in hiring entry level<br> talented programmers. Some of such companies are SRIT India Pvt Ltd, Sesame, Nucore, Limenzy Technologies, Xpertcube, Vinam Solutions, IOSS,<br> Zoondia, Minimalister, Wiinnova, Software Associates, Limner Consulting LLP, ihits technologies,HyperBlox India Pvt.Ltd, BrainBox, Kaiser Haus etc.</p>
</center>











{%  endblock  %}