<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>

</head>
<body style="background-color:aquamarine ;">
    <h1 style="color: green;">SIGN UP</h1>
    <form>
        <label>Name</label>
        <input type="text" placeholder="enter your name"><br><br>
        <label>Age</label>
        <input type="number" placeholder="enter your age"><br><br>
        <label>Address</label>
        <textarea name="" cols="30" rows="10" placeholder="enter your address"></textarea><br><br>
        <label>Gender:</label>
        <input type="radio" name="Gender">male
        <input type="radio" name="Gender">female<br><br>

        <label>Qualification:</label>
        <select name="" id="">
        <option value="">sslc</option>
        <option value="">+2</option>
        <option value="">degree</option>
        <option value="">higher studies</option>
        </select><br><br>

        <label for="">Hobbies:</label>
        <input type="checkbox">reading
        <input type="checkbox">writing
        <input type="checkbox">drawing<br><br>

        <button style="background-color:cyan ;">submit</button>





    </form>
    
</body>
</html>