<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptate, ipsam! Modi repellendus molestiae voluptatibus iusto. Illo magni temporibus praesentium molestias accusantium omnis quis officia odio dolor! Velit deserunt culpa obcaecati?
  <h1>Lorem ipsum dolor sit amet.</h1>  
</body>
<div>
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quisquam, quod eaque aliquam eum sapiente nam sint ut fugit, modi nobis eos quas accusamus expedita, repudiandae voluptates dignissimos vitae sed. Cumque.
</div>
</html>