<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>

</head>
<body>
    <!-- <div>
        <span>hyyyyyyyy
        </span>
    </div>
    <div>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium, iste illo. Labore sunt laudantium veritatis!
        </p>
    </div> -->
    <!-- <p>
        <span>hyy</span>
        <span>heloo</span>
        <p>heeee</p>

    </p>
    <span>looo</span> -->
    <p>loo</p>
    <p>hyyy</p>
    <p>heloo</p>
    <p>hshshhs</p>
    <p>scsdcsd</p>

    <script>
        $(document).ready(function(){
            // $('span').parent().css({
            //     'heigth':'400px',
            //     'width':'300px',
            //     'background-color':'aqua'
            // })
            // $('p').children().css('color','pink')
            // $('p').siblings().css('color','green')
            $('p').first().css('background-color','yellow')
            $('p').last().css('background-color','green')
            $('p').eq(2).css('background-color','blue')


        })

    

        
    </script>
    
</body>
</html>