#no{
    background-color: blue;

    /* height: 100px;
    width: 100px;    */
    /* position: absolute; */
    /* right: 0; */
    /* bottom: 0; */
    /* left: 0; */
    /* position: relative;
    left: 600px;
    top: 500px; */
    /* position:fixed; */
    border: 2px red solid;
    padding: 20px;

}
